*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/cafe-bg.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

.navbar-brand {
    margin-right: 20px; 
}

.navbar-nav {
    margin-left: auto; 
}
.menu .menu-ul{
    column-gap: 10px;
    align-items: center;
}

.menu ul li a{
    color: aliceblue;
    font-size: 45px;
    text-decoration: none;
}
.navbar-toggler img {
    max-width: 40px; 
    height: auto;
}

.menu ul li a:hover{
    color: rgba(218, 132, 61, 0.573);
    text-decoration: underline;
}
/*INDEX*/
.inicio h1 {
    font-family: "Noto Serif", serif;
    font-size: 180px;
    color: rgb(240, 248, 255); 
}

.inicio h2 {
    font-family: "Noto Serif", serif;
    font-size: 80px;
    color: rgb(240, 248, 255);
    margin-top: 20px;
}
.inicio p{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    color: rgb(240, 248, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}
/*NOSOTROS*/
.logo{
    width: 800px;
}
.nosotros{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
}
.texto-nosotros{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
    font-size: 30px;
}

/*MENÚ*/
.menu-carta h1{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
}
.menu-carta h2{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
}
.item img{
    width: 200px;
}
.description{
    color: rgb(240, 248, 255);
}
.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 20px; 
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px; 
}

.right-column {
    grid-column: 2; 
}

/*CONTACTO*/
.contacto h1{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
    
}
.contacto h2{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}
form{
    color: rgb(240, 248, 255);
    font-size: 20px;
    padding: 20px;
}
/*UBICACION*/
.ubi-1{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
}
.ubicacion{
    font-family: "Noto Serif", serif;
    display: flex;
    color: rgb(240, 248, 255);
    font-size: 30px;
}

.ubi-text{
    font-family: "Noto Serif", serif;
    color: rgb(240, 248, 255);
    font-size: 30px;
}
footer {
    background-color: rgba(109, 108, 108, 0.5); 
    color: rgb(240, 248, 255);
    text-align: center;
    margin-top: 20px;
}
footer img {
    width: 50px;
}