.inicio {
	h1 {
		font-family: "Noto Serif", serif;
		font-size: 180px;
		color: $color-fuente;
	}
	h2 {
		font-family: "Noto Serif", serif;
		font-size: 80px;
		color: $color-fuente;
		margin-top: 150px;
	}
	p {
		font-family: "Noto Serif", serif;
		font-size: 40px;
		color: $color-fuente;
		margin-top: 120px;
		margin-bottom: 60px;
	}
}