.logo {
	width: 800px;
}
.nosotros {
	font-family: "Noto Serif", serif;
	color: rgb(240, 248, 255);
}
.texto-nosotros {
	font-family: "Noto Serif", serif;
	color: rgb(240, 248, 255);
	font-size: 30px;
}