.ubi-1 {
	font-family: "Noto Serif", serif;
	color: rgb(240, 248, 255);
}
.img-fluid {
	width: 1000px;
}
.ubicacion {
	font-family: "Noto Serif", serif;
	display: flex;
	color: rgb(240, 248, 255);
	font-size: 30px;
}
.ubi-text {
	font-family: "Noto Serif", serif;
	color: rgb(240, 248, 255);
	font-size: 30px;
	padding-right: 50%;
}