.inicio {
	h1 {
		font-family: "Noto Serif", serif;
		font-size: 180px;
		color: rgb(240, 248, 255);
	}
	h2 {
		font-family: "Noto Serif", serif;
		font-size: 80px;
		color: rgb(240, 248, 255);
		margin-top: 20px;
	}
	p {
		font-family: "Noto Serif", serif;
		font-size: 40px;
		color: rgb(240, 248, 255);
		margin-top: 20px;
		margin-bottom: 20px;
	}
}