.ubi-1 {
	font-family: "Noto Serif", serif;
	color: $color-fuente;
}
.img-fluid {
	width: 1000px;
}
.ubicacion {
	// font-family: "Noto Serif", serif;
	display: flex;
	color: $color-fuente;
	// font-size: 30px;
	@extend %estilos
}
.ubi-text {
	// font-family: "Noto Serif", serif;
	color: $color-fuente;
	// font-size: 30px;
	padding-right: 50%;
	@extend %estilos
}