.contacto {
	h1 {
		font-family: "Noto Serif", serif;
		color: rgb(240, 248, 255);
	}
	h2 {
		font-family: "Noto Serif", serif;
		color: rgb(240, 248, 255);
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
form {
	color: rgb(240, 248, 255);
	font-size: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 30%;
}