.logo {
	width: 800px;
}
.nosotros {
	font-family: "Noto Serif", serif;
	color: $color-fuente;
}
.texto-nosotros {
	// font-family: "Noto Serif", serif;
	color: $color-fuente;
	// font-size: 30px;
	@extend %estilos
}