.navbar-brand {
	margin-right: 20px;
}
.navbar-nav {
	margin-left: auto;
}
.menu {
	.menu-ul {
		column-gap: 10px;
		align-items: center;
	}
	ul {
		li {
			a {
				color: aliceblue;
				font-size: 40px;
				text-decoration: none;
				&:hover {
					color: rgba(218, 132, 61, 0.573);
					text-decoration: underline;
				}
			}
		}
	}
}
.navbar-toggler {
	img {
		max-width: 40px;
		height: auto;
	}
}